*.o
build/
seamc/seamc
seamc/out.*
seamc/diff.*
*~
/ref_images/*/*
!/ref_images/ORIG/*
#!/ref_images/CONV/*
!/ref_images/*/carves
#!/ref_images/*/out.ppm

*.log
*ImageFilter2D
*seamcl
*.tif
*.data
*.old